.DS_Store
Servers
target
build
bin
.metadata
# .settings
.gradle
*.war
*.bak
/DB
/questions
JPAOneHundredQuestions/src/main/resources/META-INF/persistence.xml
OneHundredQuestions/src/main/resources/application.properties
