<span *ngIf="!editPorFavor">
  <button class="btn btn-sm btn-info" (click)="toggleEdit()">Profile</button>
</span>

<span *ngIf="editPorFavor && !deletePorFavor">
  <div id="EditAccountDiv">
    <h4 class="text-white">Edit Account</h4>
    <form #editForm="ngForm">
      <input
        type="text"
        name="username"
        [(ngModel)]="currentUser.username"
        placeholder="Username"
      /><label>Username </label><br />
      <input type="text" name="password" ngModel placeholder="Password" /><label
        >Password </label
      ><br />
      <input
        type="text"
        name="name"
        [(ngModel)]="currentUser.name"
        placeholder="First Name"
      /><label>First Name</label><br />
      <label id="partnerUsername"
        ><input
          type="text"
          name="associateUsername"
          [(ngModel)]="currentUser.associateUsername"
          placeholder="Partner's Username"
        />
        Partner's Username</label
      ><br /><input
        class="btn btn-success btn-sm"
        type="submit"
        name="submit"
        value="Save Changes"
        (click)="editAccount(editForm)"
      />
      <button (click)="toggleEdit()" class="btn btn-warning btn-sm">
        Cancel
      </button>
    </form>
  </div>
  <button
    *ngIf="!deletePorFavor"
    class="btn btn-danger btn-sm"
    (click)="toggleDelete()"
  >
    Delete Account
  </button>
</span>
<div *ngIf="deletePorFavor">
  <form #deleteForm="ngForm">
    <label class="text-white">Type "Delete Me"</label><br /><input
      type="text"
      name="verify"
      ngModel
      value="Enter 'Delete Me' Here"
    /><input
      class="btn btn-danger btn-sm"
      type="submit"
      name="submit"
      value="Delete Account"
      (click)="deleteAccount(deleteForm)"
    />
    <br />
    <button
      (click)="toggleDelete()"
      class="btn btn-warning btn-sm"
    >
      Cancel
    </button>
  </form>
</div>
