<div id="entireThing" class="container-fluid">

  <br><br><br>
<div id="contrasting">
  <p><strong>
    100 Hundred Questions aims for a more understanding relationship. <br><br>
    Learn, discuss, make plans, and tackle the big questions that can make or break your long term relationship.
    <br><br>
    You're on a journey together. Make it count. Make it worthwhile. Make it good!</strong>
  </p>
</div>
<div *ngIf="createNew">
<div *ngIf="createNew" id="registerFormDiv">
    <h4>Create New Account</h4>
  <form id="registerForm" #registerForm="ngForm">
    <input type="text" name="username" ngModel placeholder="Username" /><br>
    <input type="text" name="password" ngModel placeholder="Password" /><br>
    <input type="text" name="name" ngModel placeholder="First Name" /><br>
    <input
      type="text"
      name="associateUsername"
      ngModel
      placeholder="Partner's Username"
    />
    <br /><input
      class="btn btn-success btn-sm"
      type="submit"
      name="submit"
      value="Register Account"
      (click)="register(registerForm)"
    />
    <button (click)="createNew = false" class="btn btn-warning btn-sm">Cancel</button>
  </form>
</div>
</div>
<span *ngIf="!createNew" class="float-right"><button (click)="createNew = !createNew" class="btn btn-warning btn-sm">{{toggleText}}</button></span>
</div>
