#contrasting, #CreateNew {
  margin-top: 15%;
  color: white;
  font-size: larger;
  text-shadow:1px 1px 3px black;
  font-weight: 600;
}
#registerButton {
  margin-top: 7%;
}

#entireThing {
  background-image: url("https://i.imgur.com/DFAH0xW.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.badstuff {
  font: bold;
  color: crimson;
  text-align: right;
}
