<div id="entireThing" class="container-fluid">

  <br><br><br>
<div id="contrasting">
  <p><strong>
    One Hundred Questions aims for a more understanding relationship. <br><br>
    Learn, discuss, make plans, and tackle the big questions that can make or break your long term relationship.
    <br><br>
    You're on a journey together. Make it count. Make it worthwhile. Make it good!</strong>
  </p>
</div>
<br>
<div *ngIf="createNew">
<div *ngIf="createNew" id="registerFormDiv" class="text-center">
    <span id="CreateNew"><strong>New Account</strong></span><br>
  <form id="registerForm" #registerForm="ngForm">
    <br>
    <label class="badstuff" *ngIf="takenUsername">Username Taken</label>
    <label class="badstuff" *ngIf="blankUsername">Username Cannot Be Blank</label>
    <input type="text" name="username" ngModel placeholder="Username" /><br>
    <label class="badstuff" *ngIf="blankPassword">Password Cannot Be Empty</label>
    <input type="text" name="password" ngModel placeholder="Password" /><br>
    <label class="badstuff" *ngIf="blankName">First Name Cannot Be Blank</label>
    <input type="text" name="name" ngModel placeholder="First Name" /><br>
    <input
      type="text"
      name="associateUsername"
      ngModel
      placeholder="Partner's Username"
    />
    <br /><br><input
      class="btn btn-success btn-sm"
      type="submit"
      name="submit"
      value="Register Account"
      (click)="register(registerForm)"
    />
    <button (click)="createNew = false" class="btn btn-warning btn-sm">Cancel</button>
  </form>
</div>
</div>
<span *ngIf="!createNew" class="float-right"><button (click)="createNew = !createNew" class="btn btn-warning btn-sm">{{toggleText}}</button></span>
</div>
