<span
  ><button
    *ngIf="!requestLogin"
    (click)="toggle()"
    class="btn btn-primary btn-sm"
  >
    Login
  </button></span
>
<div *ngIf="requestLogin">
  <form id="loginForm" #loginForm="ngForm">
    <input
      class="loginFormBorder"
      type="text"
      name="username"
      ngModel
      placeholder="Username"
    />
    <input
      class="loginFormBorder"
      type="password"
      name="password"
      ngModel
      placeholder="Password"
    /><input
      class="btn btn-primary btn-sm"
      type="submit"
      name="submit"
      value="Login"
      (click)="login(loginForm)"
    />
    <button class="btn btn-warning btn-sm" (click)="toggle(); failed = false">Cancel</button>
  </form>
</div>
<div *ngIf="failed">
  <span id="badcreds">Username or Password Incorrect</span>
</div>
