.w3-block {
  white-space: normal;
}
.answerArea {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}
.partnerArea {
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
#questionDiv {
  padding-top: 5px;
}
#mandolinTitle {
  font-weight: bolder;
  text-shadow: 1px 1px 0 #444
}
blockquote {
  padding-top: 3%;
}
.saveButton {
  position: absolute;
  right: 5%;
}
