<br /><br />
<div id="questionDiv" *ngIf="fullyLoaded && checkLogin()">
  <div name="mainContainer">
    <button (click)="expandPanel('mandolin')" class="w3-btn w3-block w3-indigo">
      Captain Corelli's Mandolin
    </button>

    <div id="mandolin" class="w3-hide w3-container w3-center w3-light-grey">
      <blockquote>
        “Love is a temporary madness. It erupts like an earthquake and then
        subsides. And when it subsides you have to make a decision. You have to
        work out whether your roots have become so entwined together that it is
        inconceivable that you should ever part. Because this is what love is.
        Love is not breathlessness, it is not excitement, it is not the
        promulgation of promises of eternal passion. That is just being "in
        love" which any of us can convince ourselves we are. Love itself is what
        is left over when being in love has burned away, and this is both an art
        and a fortunate accident. Your mother and I had it, we had roots that
        grew towards each other underground, and when all the pretty blossoms
        had fallen from our branches we found that we were one tree and not
        two.”<br /><br />
        - Louis de Bernières
      </blockquote>
    </div>

    <div *ngFor="let question of questions" class="w3-border w3-round-large" >
      <button
        (click)="expandPanel(question.id)"
        class="w3-button w3-block w3-left-align w3-light-gray"
      >
        {{ question.id }}: {{ question.question }}
      </button>

      <div id="{{ question.id }}" class="w3-hide">
        <form class="answerArea" #newAnswerForm="ngForm">
          <div class="md-form">
            <strong>{{ player1.name }}:</strong> <br />
            <textarea
              class="md-textarea md-textarea-auto form-control w3-input w3-border"
              mdbInput
              name="answer"
              cols="50"
              rows="3"
              placeholder="Answer Question Here"
              [ngModel]="safelyRetrieveAnswer(question.id, 1)"
            >
            </textarea>
          </div>
          <input

            class="w3-button w3-blue w3-round-large saveButton"
            type="button"
            value="Save"
            (click)="saveAnswer(newAnswerForm, question.id)"
          /><br />
          <br />
        </form>
        <div *ngIf="!answered(question.id)" class="partnerArea">
          Answer to see <strong>{{ player2.name }}'s</strong> answer
        </div>
        <div *ngIf="answered(question.id)" class="partnerArea">
          <strong>{{ player2.name }}:</strong> <br />
            {{ safelyRetrieveAnswer(question.id, 2) }}
        </div>
      </div>
    </div>
  </div>
</div>
